nav {
    height: 50px;

    color: white;
    background-color: #1d1f27;


    /*     🍀1143 
    <🍀layout 똑같이 배분>

    .부모{display : flex }

    .자식1 {flex: 1}

    .자식2 {flex: 1}

    .자식3 {flex: 1}
  */
    display: flex;    /* 👉1143 */
    align-items: center;
    justify-content: center;

    padding: 0 20px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .nav__left {
    flex: 1;    /* 👉1143 */
  }
  
  .nav__middle {
    color: gray;
  
    flex: 1;    /* 👉1143 */
  }
  
  .input__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 25px;
    background-color: white;
  }
  
  .input__wrapper input {
    width: 100%;
    padding: 0 10px;
    border: none;
    display: block;
  }
  
  .input__wrapper input:focus,
  input:active {
    outline: none;
  }
  
  .nav__right {   
      flex: 1;      /* 👉1143 */

      /* 🍀왼쪽, 오른쪽에 붙이는 layout */
      display: flex;
      justify-content: flex-end;
      align-items: center;
  }
  
  .cart__icon {
    position: relative;
    margin-left: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;
  }
  
  .item__count {
    margin: auto;

  }
